<table>
  <% @user_infos.each do |user_info| %>
      <tr>
        <td> <%= user_info.user.email %> </td>
        <td> <%= link_to 'Show him!','/user/' + user_info.user.id.to_s %></td>
        <td>
          <% @user = user_info.user %>
          <% if user_info.user != current_user %>
              <%= render 'relationships/follow_form' %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @user_infos %>

