<table>
  <% @search_res_users.each do |user| %>
    <tr>
      <td> <%= user.email %> </td>
      <td> <%= link_to 'Show him!','/user/' + user.id.to_s %></td>
      <td>
        <% @user = user %>
        <% if user != current_user %>
           <%= render 'relationships/follow_form' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @search_res_users %>

