<% @users = current_user.following %>
<b><big><p> You follows <%= pluralize(@users.count, "man") %>.</p></big></b>
<% if !@users.empty? %>
  <% @users = current_user.following.paginate(:page => params[:page], :per_page => 10) %>
  <%= render 'users/user_show' %>
<% end %>