<% @users = current_user.followers %>
<b><big><p> You have <%= pluralize(@users.count, "follower") %>.</p></big></b>
<% if !@users.empty? %>
  <% @users = current_user.following.page(params[:current_page]) %>
  <%= render 'users/user_show' %>
<% end %>