<% @users = current_user.followers %>
<b><big><p> <%= pluralize(@users.count, "Follower") %> </p></big></b>
<% if !@users.empty? %>
  <% @users = current_user.followers.page(params[:current_page]) %>
  <%= render 'users/user_show' %>
<% end %>

