  <h1>Список требований:</h1>
  <p>
    <br>1) Покрытие приложения модульными тестами;
    <br>2) Тотальное кеширование;
    <br>3) Блочная верстка;
    <br>4) Регистрация с отправкой email;
    <br>5) Логин, автологин;
    <br>6) Админка;
    <br>7) Профиль пользователя;
    <br>8) Пользовательские статусы/сообщения;
    <br>9) Стена;
    <br>10) Возможность загружать фотографии, несколько размеров фотографий при загрузке;
    <br>11) Диаграмма на Flex;
    <br>12) Загрузка видео в backgroude;
    <br>13) Полнотекстовый поиск при помощи Sphinx;
    <br>14) Возможность выделения друзей на фото;
    <br>15) Две темы сайта;

    <center><br>Сделано: 1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 15;
            <br>Сделать: 10, 11, 12, 14;
    <br>11/15</center>

