<body>
<h1> Home Page </h1>
<p>
  This is home page for the our social network.
</p>
      <% if user_signed_in? %>
          Nice to see you here :)
      <% else %>
          <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
      <% end %>


</body>
