<%= form_for @new_post do |f| %>
    <%= render 'shared/error_message', :object => f.object %>
    <div class="field">
      <%= f.text_area :content %>
    </div>
      <%= f.submit "Submit", :class => "commit_button round" %>
<% end %>