<%= paginate @microposts %>
<% if @user == current_user%>
    <%= render 'micropost_form' %>
<% else %>
    <% if !@user.nil? %>
      <%= render 'relationships/follow_form' %>
    <% end %>
<% end %>

<% if !@microposts.empty? %>
    <table class="microposts" summary="User microposts">
      <%= render @microposts %>
    </table>
<% end %>

