.box-shadow
{
    -moz-box-shadow: 3px 3px 6px #222;
    -webkit-box-shadow: 3px 3px 6px #222;
    box-shadow: 3px 3px 6px #222;
}

canvas
{
    background-color: #000;
    border: 1px solid #888;
}

.wrapper
{
    padding-top: 12px;
    text-align: center;
}

.info
{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5em;
}

.infopanel
{
    max-width: 22em;
    margin-top: 64px;
    background-color: rgba(40,40,50,.85);
    color: #fff;
    line-height: 1.25em;
    padding: 0.5em;
}

.highlight
{
    color: #ffff88;
}

.section
{
    padding-top: 0.5em;
}

.heading
{
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(55,55,55, .5);
}

.credits-wrapper
{
    text-align: center;
}

.credits
{
    display: inline-block;
    padding: 4px 64px;
    margin: 8px;
    text-align: center;
    background-color: rgba(40,40,50,.85);
    font-size: 0.8em;
}

P
{
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 0.66em;
}

P.left
{
    padding-left: 0.5em;
    line-height: 1.25em;
}