body, html {
  margin: 0px;
  padding:0px;
}

#maket {
  width: 1000px;
  margin:0 auto;
  text-align:left;
}

#front_page {
  background-color:#aaa;
  height: 130px;
}

#header{
  background-color:#bbb;
  height: 40px;
  margin: 10px 0px 10px 0px;
  padding:20px;
  color: #fff;
  font-size: 120%;
  text-align:center
}

#left{
  background-color:#fff;
  min-height: 550px;
  width:100px;
  float:left;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  font-size: 120%;
}
#right{
  background-color:#fff;
  min-height: 550px;
  width:100px;
  float:right;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  font-size: 120%;
}


#center{
  background-color:#ddd;
  min-height: 550px;
  margin: 0px 125px 0px 125px;
  padding: 10px;
  font-size: 120%;

}

#clear{
clear:both;
}
#footer{
  background-color:#eee;
  height: 10px;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  text-align: center;
}

/* Links color*/
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/* Sign up button */

a.signup_button {
  background: #cc3300;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 150%;
  font-weight: bold;

}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
/*microposts*/



/*Неведомая хрень*/

h1 {
  font-size: 150%;
  color: #000;
}

table.microposts {
    margin-top: 5px;

}

table.microposts tr {
    height: 50px;

}


table.microposts tr td.micropost {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
    height: 50px;
    width: 600px;
}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}

.field_with_errors {
    width: 100%;
}

.field {
    width: 90%;
}
.post_content {
    width: 100%;
}



/*Выскальзывающие блоки*/


.slide-up-boxes a {
	display: block;
	height: 130px;
	margin: 0 0 20px 0;
	background: rgba(215, 215, 215, 0.5);
	border: 1px solid #ccc;
	height: 65px;
	overflow: hidden;
}

.slide-up-boxes h5 {
	color: #333;
	text-align: center;
	height: 65px;
	font: italic 18px/65px Georgia, Serif;
/* Вертикальное центрирование текста за счет равных высот строки и элемента */
	 opacity: 1;
	 -webkit-transition: all 0.2s linear;
	 -moz-transition: all 0.2s linear;
	 -o-transition: all 0.2s linear;
}

.slide-up-boxes a:hover h5 {
	margin-top: -65px;
	opacity: 0;
}

.slide-up-boxes div {
	position: relative;
	color: white;
	font: 12px/15px Georgia, Serif;
	height: 45px;
	padding: 10px;
	opacity: 0;
	-webkit-transform: rotate(6deg);
	-webkit-transition: all 0.4s linear;
	-moz-transform: rotate(6deg);
	-moz-transition: all 0.4s linear;
	-o-transform: rotate(6deg);
	-o-transition: all 0.4s linear;
}
.slide-up-boxes a:hover div {
	opacity: 1;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
}
.slide-up-boxes a:nth-child(1) div {
background: #c73b1b url(images/wufoo.png) 17px 17px no-repeat;
padding-left: 120px;

}
.slide-up-boxes a:nth-child(2) div {
background: #367db2 url(images/diw.png) 21px 10px no-repeat;
padding-left: 90px;
}
.slide-up-boxes a:nth-child(3) div {
background: #393838 url(images/qod.png) 14px 16px no-repeat;
padding-left: 133px;

}

