body {
  background: #fff;
}

h1 {
  font-size: 200%;
  color: #000;
}

.front_page {
  height:100px;
  background-color:#003300;
  padding:20px;
  text-align:center
}
.header {
  height: 20px;
  background-color:#004411;
  padding:20px;
  font-size: 120%;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  text-align:center
}

.left_col {
  width:120px;
  height: 580px;
  font-size: 120%;
  background-color:#fff;
  color: #000;
  padding:15px;
  border-style:solid;
  border-width: 1px;
  vertical-align:top
}
.center_col {

  background-color:#ffffff;
  padding:15px;
  font-size: 120%;
  color: #000;
  border-style:solid;
  border-width: 1px;
  vertical-align:top
}
.right_col {
  width:120px;
  font-size: 120%;
  background-color:#fff;
  color: #000;
  padding:15px;
  border-style:solid;
  border-width: 1px;
  vertical-align:top
}
.footer {
  padding:10px 0 10px 20px;
  background-color:#004411;
  font-size:13px;
  border-style:solid;
  border-width: 1px;
}

/* Links color*/
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #cc3300;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Button, can't change width and padding */
button round {
  margin-top: 5px;
  display: block;
  text-align: center;
  width: 180px;
  color: #fff;
  background: #000;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}



/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


h1.micropost {
    margin-bottom: 0.3em;
}

table.microposts {
    margin-top: 1em;
}

table.microposts tr {
    height: 70px;
}

table.microposts tr td.gravatar {
    border-top: 1px solid #ccc;
    vertical-align: top;
    width: 50px;
}

table.microposts tr td.micropost {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}

.field_with_errors {
    width: 100%;
}

.field {
    width: 90%;
}
.post_content {
    width: 100%;
}