body, html {
  margin: 0px;
  padding:0px;
}

#maket {
  width: 1000px;
  margin:0 auto;
  text-align:left;
}

#front_page {
  background-color:#aaa;
  height: 130px;
}

#header{
  background-color:#bbb;
  height: 40px;
  margin: 10px 0px 10px 0px;
  padding:20px;
  color: #fff;
  font-size: 120%;
  text-align:center
}

#left{
  background-color:#fff;
  min-height: 550px;
  width:100px;
  float:left;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  font-size: 120%;
}

#center{
  background-color:#ddd;
  min-height: 550px;
  margin: 0px 0px 0px 125px;
  padding: 10px;
  font-size: 120%;

}

#footer{
  background-color:#eee;
  height: 10px;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  text-align: center;
}

/* Links color*/
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/* Sign up button */

a.signup_button {
  background: #cc3300;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
/*microposts*/



/*Неведомая хрень*/

h1 {
  font-size: 150%;
  color: #000;
}

table.microposts {
    margin-top: 10px;

}

table.microposts tr {
    height: 70px;

}

table.microposts tr td.gravatar {
    border-top: 1px solid #ccc;

}

table.microposts tr td.micropost {
    border-top: 1px solid #ccc;

    padding-top: 10px;

}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
    width: 700px;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}

.field_with_errors {
    width: 100%;
}

.field {
    width: 90%;
}
.post_content {
    width: 100%;
}

