<div id="user_nav">
  <nav class="round">
    <% if user_signed_in? %>
        
        <!-- Just add %-->
        <!-- Signed in as <= current_user.email %>. Not you? -->
        <%= link_to "Profile", profile_path  %>
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </nav>
</div>