<td class="right_col">
  <% if user_signed_in? %>
    [Хотелось бы, чтобы пользователи могли сами выбирать аватар]
    <% avatar = image_tag("0004.gif", :alt => "Banshee", :class => "round") %>
    <%= link_to avatar, '#'%>
    [Если это страница пользователя добавить кнопки:
    Читатели
    Статистика
    "Сделать хорошо"]
    [Если на странице друга: то
    Профиль друга
    Читать/Не читать]
  <% else %>

 <% end %>
  <br><a href="http://bash.im/">Have a smile</a><br/>
</td>

