<form>
  <input type="submit"
  onclick="setActiveStyleSheet('gray');
  return false;"
  name="theme"
  value="Gray Theme"
  id="gray">

  <input type="submit"
  onclick="setActiveStyleSheet('green');
  return false;"
  name="theme"
  value="Green Theme"
  id="green">

  <input type="submit"
  onclick="setActiveStyleSheet('blue');
  return false;"
  name="theme"
  value="Blue Theme"
  id="blue">

  <input type="submit"
  onclick="setActiveStyleSheet('red');
  return false;"
  name="theme"
  value="Red Theme"
  id="red">

  <input type="submit"
  onclick="setActiveStyleSheet('orange');
  return false;"
  name="theme"
  value="Orange Theme"
  id="orange">
</form>

