<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', default_url_options[:host => 'electric-rain-4552.heroku.com' }] %></p>
